.detail{
	padding:0 10px;
.pto{
	width:100%;
}
p{padding-left:10px;	
	span{
		    color: #f05f50;
		    font-size:18px;
		    font-weight: 700;
		    padding-right:10px;  
	}
	s{
		    font-size: 16px;
		        color: #9a9a9a;
	}
}}
.jionnum{
	span{
		border:1px solid #333;
		border-radius:50%;
		margin:0 5px;
		font-size:16px;
		color:#555;
	}
	input{
		margin:0 6px;
		text-align:center;
		width:40%;
	}
}