.nav{
	display:flex;
	justify-content: space-between;
	text-align:center;
	position:fixed;
	top:10vh;
	background:#fff;
	width:100%;
	li{
		width:25%;
		font-size:3vh;
	}
	a{
		&.active{
	color:#0aa082;
	font-weight:700;
	text-decoration:none;
}
	color:#000;
}
}
.homechildren{
	margin-top:8vh;
}